header {
    background-color: #3399CC;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    width: 100vw;
    height: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

aside {
    width: 25vw;
    padding-top: 10px;
}

aside h2 {
    display: flex;
    justify-content: center;
}

aside div {
    padding: 0 20px;
}

#clear-btn {
    margin-top: 10px;
}

#city-list {
    height: 72vh;
    overflow-y: auto;
}

.btn-padding {
    margin-bottom: 15px;
}

#line {
    margin: 20px;
    border-top: 2px lightgrey solid;
}

section {
    width: 75vw;
    padding-top: 10px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

section div {
    background-color: #8BBBD9;
}